/practice/01 Basics/.ipynb_checkpoints
/practice/01 Basics/modules/.ipynb_checkpoints
/practice/01 Basics/datasets/part1/.ipynb_checkpoints
/practice/01 Basics/modules/.ipynb_checkpoint
/practice/01 Basics/modules/__pycache__
/slides/.ipynb_checkpoints
practice/02 Similarity search/.ipynb_checkpoints/
practice/02 Similarity search/modules/.ipynb_checkpoints/
practice/02 Similarity search/modules/__pycache__/